/* --- navigation --- */
nav {
  background-color: transparent;
  box-shadow: none;
  z-index: 999999;
}

#sidenav-overlay {
  z-index: 90
}

nav a i#fixside {
  color: #ffffff;
}

nav a img#mylogo {
  padding-top: 10px;
  padding-left: 10px;
}

nav ul li a {
  font-weight: bold;
  color: #ffffff;
}

nav ul li a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  color: #02020a;
}

nav ul.side-nav {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 45px;
}

nav ul.side-nav li a {
  color: #edf2f4;
}

nav ul.side-nav li a:hover {
  background-color: rgba(64, 64, 64, 0.7);
  color: #ffffff;
  font-weight: bold;
}